.criminalsContainer{
    font-weight: 200;
    margin-right: 20%;
 }
.criminals{
    border: 1px solid blue; 
    border-width: 30%;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
   margin: 10px 30px;
    flex-basis: 20%;
    font-size: large;
}

.filters__officer{
    border: 1px solid grey;
    width: 50%;
    height: 60%;
    font-size: medium;
   margin : auto;
    padding: 60px;
    background-color: khaki;


}
.filters__crime{
    margin-left: 30%;
    font-size: larger;
    padding-left: 15px;
}

.filters{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    order: 2;
    flex-basis: 10%;
   
}

    
    
   
   
    
    
